@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bg-bulma {
    background-color: #00d1b2;
}

.text-bangers {
    font-family: Bangers;
}

.text-50px {
    font-size: 50px;
}

.counter {
    margin: auto;
    width: 60%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}